extends ../include/_layout
block var
  - title = 'p5.js Audio Visualizer'
  - path = './'
block body
  .container
    h1 p5.js Audio Visualizer
    .list
      .list-item
        a(href="visualizer1")
          img(src="image/visualizer1.jpg")
          p visualizer1
      .list-item
        a(href="visualizer2")
          img(src="image/visualizer2.jpg")
          p visualizer2
      .list-item
        a(href="visualizer3")
          img(src="image/visualizer3.jpg")
          p visualizer3
      .list-item
        a(href="visualizer4")
          img(src="image/visualizer4.jpg")
          p visualizer4
block end_of_body