extends ../include/_layout
block var
  - title = 'JS Audio Visualizer'
  - path = './'
block body
  .container
    h1 JS Audio Visualizer
    .list
      .list-item
        a(href="visualizer1")
          img(src="image/visualizer1.png")
          p visualizer1
      .list-item
        a(href="visualizer1-with-p5js")
          img(src="image/visualizer1-with-p5js.png")
          p visualizer1 with p5.js
      .list-item
        a(href="visualizer2")
          img(src="image/visualizer2.png")
          p visualizer2
      .list-item
        a(href="visualizer2-with-p5js")
          img(src="image/visualizer2-with-p5js.png")
          p visualizer2 with p5.js
      .list-item
        a(href="visualizer3-with-p5js")
          img(src="image/visualizer3-with-p5js.png")
          p visualizer3 with p5.js
      .list-item
        a(href="visualizer4-with-p5js")
          img(src="image/visualizer4-with-p5js.png")
          p visualizer4 with p5.js
      .list-item
        a(href="visualizer5")
          img(src="image/visualizer5.png")
          p visualizer5
block end_of_body