@import 'node_modules/reset-css/_reset';

body {
  background: #161616;
}

h1 {
  color: #fff;
  font-size: 2rem;
}

.list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;

  .list-item {
    width: 300px;
    margin: 40px 0 0 50px;

    &:first-child {
      margin-left: 0;
    }

    &:nth-child(1), &:nth-child(2), &:nth-child(3) {
      margin-top: 0;
    }

    &:nth-child(3n+1) {
      margin-left: 0;
    }

    a {
      color: #fff;
      text-decoration: none;
      text-align: center;

      img {
        width: 100%;
      }

      p {
        display: block;
        margin-top: 15px;
        box-sizing: border-box;
      }
    }
  }
}

.container {
  width: 1000px;
  margin: 30px auto 0;
}